<!-- templates/registration/password_change_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Αλλαγή συνθηματικού{% endblock title %}
{% block content %}
<p><small><a href="/metakinhseis/">Επιστροφή σε Αρχική σελίδα</a></small></p>
<h1>Αλλαγή συνθηματικού</h1>
<p>Παρακαλώ, για λόγους ασφαλείας, εισάγετε το τρέχον συνθηματικό σας και στη συνέχεια το νέο, δύο φορές.</p>
<form method="POST">{% csrf_token %}
{{ form|crispy }}
<input class="btn btn-success" type="submit"
value="Αλλαγή συνθηματικού">
</form>
{% endblock content %}